@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	--color-body: rgb(20, 20, 20);
	--color-body2: rgb(40, 40, 40);
}

@layer base {
	html,
	body {
		font-family: "Roboto", sans-serif;
		@apply bg-body text-gray-100;
	}

	h1 {
		@apply text-4xl text-amber-300 font-bold mt-8;
	}

	h2 {
		@apply text-3xl font-semibold mt-8;
	}

	h3 {
		@apply text-2xl font-medium mt-7;
	}

	h4 {
		@apply text-xl font-medium mt-6;
	}

	h5 {
		@apply text-lg font-medium mt-5;
	}

	h6 {
		@apply text-sm font-light text-gray-400;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		@apply mb-4;
	}

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}

	ul,
	ol {
		@apply list-inside;
	}
}

a {
	@apply underline underline-offset-2 decoration-amber-300 hover:text-amber-300 active:text-amber-300;
}

em,
strong {
	@apply text-amber-300;
}

strong {
	@apply font-semibold;
}

blockquote {
	@apply border-l-3 border-amber-300 pl-4 italic;
}

@layer components {
	table {
		@apply min-w-full text-left mb-4 overflow-x-auto block sm:table;
	}

	th {
		@apply py-3 px-6 bg-body2;
	}

	tr {
		@apply odd:bg-body even:bg-body2;
	}

	td {
		@apply py-3 px-6 min-w-36;
	}
}
